<br>

<main id="main" data-aos="fade-up">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Лига "Гладиатори"</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Gladiators</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>
        Сезон 2021
      </p>
    </div>
  </section>

<div class = "container">
<table class = "table table-striped">
  <thead class = "thead-light">
    <tr>
      <th>#</th>
      <th>Заглавие</th>
      <th>Начална дата</th>
      <th>Статус</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @months.each do |month| %>
      <tr>
        <th scope="row"><%# i %></th>
        <td><%= month.title %></td>
        <td><%= month.start_date %></td>
        <td><%= month.status%></td>
        <td><%= link_to 'Destroy', month, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Month', new_month_path %>

</div>
