<%= form_with(model: mesecen_tour) do |form| %>
  <% if mesecen_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mesecen_tour.errors.count, "error") %> prohibited this mesecen_tour from being saved:</h2>

      <ul>
        <% mesecen_tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
