<p id="notice"><%= notice %></p>

<h1>Mesecen Tours</h1>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">


<table>
  <thead>
    <tr class="table100-head">
        <th class="column1">Title</th>
        <th class="column2">Start date</th>
        <th class="column3">Info</th>
        <th class="column4">Admin</th>
        <th class="column5">Edit</th>
        <th class="column6">Destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesecen_tours.each do |mesecen_tour| %>
      <tr>
        <td class="column1"><%= mesecen_tour.title %></td>
        <td class="column2"><%= mesecen_tour.info %></td>
        <td class="column3"><%= mesecen_tour.start_date %></td>
        <td class="column4"><%= mesecen_tour.admin.email.split('@')[0].capitalize %></td>
        <td class="column5"><%= link_to 'Edit', edit_mesecen_tour_path(mesecen_tour) %></td>
        <td class="column6"><%= link_to 'Destroy', mesecen_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mesecen Tour', new_mesecen_tour_path %>

</div>
</div>
</div>
</div>
