<%= bootstrap_form_with(model: gladiator) do |form| %>
  <% if gladiator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gladiator.errors.count, "error") %> prohibited this gladiator from being saved:</h2>

      <ul>
        <% gladiator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :title %>

    <%= form.datetime_select :start_date %>

    <%= form.text_area :info %>
  <!-- </div> -->
  <br>

    <%= form.submit %>
<% end %>
