<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(tour2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Лига "Гладиатори"</h1>
            <!-- <h2>Free html5 templates Made by <a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<p id="notice"><%= notice %></p>




<div class="limiter">
  <div class="container">
    <ul class="responsive-table">
      <h5 class="gladiators-info">Лига "Гладитори" се провежда всеки уикенд на всяка седмица, с изключение на тази с "Месечния" ни турнир. <br>Вижте кога ще се провежда следващото събитие в таблицата по-долу, или скочете до Ранглистата ни, за да видите кой взима златото!</h5>
      <br>
      <h2> Сезон 2021 </h2>


      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Име на турнир:</th>
            <th scope="col">Начална дата:</th>
            <th scope="col">Статус:</th>
            <%- if admin_signed_in? %>
              <th scope="col"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @gladiators.each.with_index(1) do |gladiator, i| %>
            <tr>
              <th scope="row"><%= i %></th>
              <td><%= link_to gladiator.title, gladiator %></td>
              <td><%= gladiator.start_date.strftime('%d-%b-%Y  | %H:%Mч.') %></td>
              <td><b><%= gladiator.status%></b></td>

              <%- if admin_signed_in? %>
                <td><%= link_to 'Destroy', gladiator, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <% if current_admin %>
        <%= link_to 'Създай нов гладиатор', new_gladiator_path, class: 'btn btn-success' %></button>
      <% end %>
  </div>
</div>
