<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(tour2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Лига "Гладиатори"</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <%=link_to 'Начало', root_path %></li>
                            <li class="breadcrumb-item active" aria-current="page">Gladiators</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<p id="notice"><%= notice %></p>




<div class="limiter">
  <div class="container">
    <ul class="responsive-table">
        <h5 class="gladiators-info">Лига "Гладитори" се провежда всеки уикенд на всяка седмица, с изключение на тази с "Месечния" ни турнир. <br>Вижте кога ще се провежда следващото събитие в таблицата по-долу, или скочете до Ранглистата ни, за да видите кой взима златото!</h5>
        <br>
        <h2> Сезон 2021 </h2>
<table>
  <thead>
    <li class="table-header">
      <div class="col col-1">Заглавие</div>
      <div class="col col-2">Кога започва?</div>
      <div class="col col-3">Статус</div>
       <%- if admin_signed_in? %>
      <div class="col col-4"> Админ </div>
      <% end %>
    </li>
  </thead>

  <tbody>
    <% @gladiators.each do |gladiator| %>
    <li class="table-row">
      <div class="col col-1" data-label="Title"><%= gladiator.title %></div>
      <div class="col col-2" data-label="Start Date"><%= gladiator.start_date.strftime('%d-%b-%y') %></div>
      <div class="col col-3" data-label="More Info"><%= gladiator.status %></div>
       <%- if admin_signed_in? %>
       <div class="col col-4" data-label="Admin">
       <%= link_to 'Show', gladiator, class: 'btn btn-primary' %>
       <%= link_to 'Edit', edit_gladiator_path(gladiator), class: 'btn btn-secondary' %>
       <%= link_to 'Destroy', gladiator, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
       </div>
       <% end %>
    </li>
    <% end %>
  </tbody>
</table>
<br>

<% if current_admin %>
<button class="button-w3"><%= link_to 'Създай нов гладиатор', new_gladiator_path %></button>
<% end %>
</div>
</div>
