<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(tour2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Лига "Гладиатори"</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <%=link_to 'Начало', root_path %></li>
                            <li class="breadcrumb-item active" aria-current="page">Gladiators</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<p id="notice"><%= notice %></p>




<div class="limiter">
  <div class="container">
    <ul class="responsive-table">
        <h5 class="gladiators-info">Лига "Гладитори" се провежда всеки уикенд на всяка седмица, с изключение на тази с "Месечния" ни турнир. <br>Вижте кога ще се провежда следващото събитие в таблицата по-долу, или скочете до Ранглистата ни, за да видите кой взима златото!</h5>
        <br>
        <h2> Сезон 2021 </h2>
<table>
  <thead>
    <li class="table-header">
      <div class="col col-1">Title</div>
      <div class="col col-2">Start Date</div>
      <div class="col col-3">View More</div>
    </li>
  </thead>

  <tbody>
    <% @gladiators.each do |gladiator| %>
    <li class="table-row">
      <div class="col col-1" data-label="Title"><%= gladiator.title %></div>
      <div class="col col-2" data-label="Start Date"><%= gladiator.start_date %></div>
      <div class="col col-3" data-label="More Info"><%= link_to 'Show', gladiator %></div>

    </li>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Gladiator', new_gladiator_path %>

</div>
</div>
