<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(tour2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Лига "Гладиатори"</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <%=link_to 'Начало', root_path %></li>
                            <li class="breadcrumb-item active" aria-current="page">Gladiators</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<p id="notice"><%= notice %></p>




<div class="limiter">
  <div class="container">
    <ul class="responsive-table">
        <h5 class="gladiators-info">Лига "Гладитори" се провежда всеки уикенд на всяка седмица, с изключение на тази с "Месечния" ни турнир. <br>Вижте кога ще се провежда следващото събитие в таблицата по-долу, или скочете до Ранглистата ни, за да видите кой взима златото!</h5>
        <br>
        <h2> Сезон 2021 </h2>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Име на турнир</th>
      <th scope="col">Начална дата:</th>
      <th scope="col">Статус:</th>
      <%- if admin_signed_in? %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @gladiators.each.with_index(1) do |gladiator, i| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= link_to gladiator.title, gladiator %></td>
      <td><%= gladiator.start_date.strftime('%d-%b-%y') %></td>
      <td><%= gladiator.status%></td>
      <%- if admin_signed_in? %>
        <td><%= link_to 'Destroy', gladiator, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_admin %>
<button class="button-w3"><%= link_to 'Създай нов гладиатор', new_gladiator_path %></button>
<% end %>
</div>
</div>
