

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Лига "Гладиатори"</h2>
          <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Services</li>
      </ol>
    </div>
  </section>

  <p id="notice"><%= notice %></p>




  <div class="limiter">
    <div class="container">
      <ul class="responsive-table">
        


        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Име на турнир:</th>
              <th scope="col">Начална дата:</th>
              <th scope="col">Статус:</th>
              <%- if admin_signed_in? %>
                <th scope="col"></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @gladiators.each.with_index(1) do |gladiator, i| %>
              <tr>
                <th scope="row"><%= i %></th>
                <td><%= link_to gladiator.title, gladiator %></td>
                <td><%= gladiator.start_date.strftime('%d-%b-%Y  | %H:%Mч.') %></td>
                <td><b><%= gladiator.status%></b></td>

                <%- if admin_signed_in? %>
                  <td><%= link_to 'Destroy', gladiator, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>

        <% if current_admin %>
          <%= link_to 'Създай нов гладиатор', new_gladiator_path, class: 'btn btn-success' %></button>
        <% end %>
    </div>
  </div>
