<div class="container">
  <p id="notice"><%= notice %></p>

  <div class='tour-details text-center'>
    <h5>
      <%= "Tournament #{@gladiator.title} starts at: #{@gladiator.start_date.strftime('%d-%b-%Y  | %H:%Mч.')} (admin: #{@gladiator.admin.email})" %>
    </h5>

    <%= link_to 'Edit', edit_gladiator_path(@gladiator), class: 'btn btn-primary' %>

    <p>
    <strong>Description:</strong>
    <%= @gladiator.info %>
    </p>

  </div>

  <div class='tour-enrollment text-center'>
    <hr>
    <div class="table">
      <h3>
        <caption><%="Players enrolled: #{@gladiator.players.count}" %></caption>
      </h3>
      <%= bootstrap_form_for @gladiator do |f| %>
        <%= f.collection_check_boxes(:player_ids, @players, :id, :name, custom: :switch) do |b| %>
          <%= b.check_box %>

        <% end %>
        <%= f.submit %>
      <% end %>

    </div>
  </div>
</div>
