<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Лига "Гладиатори"</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Gladiators</li>
      </ol>
    </div>

  </div>
</section>

<div class="container">
  <p id="notice"><%= notice %></p>

  <div class='tour-details text-center'>
    <h5>
      <%= "Tournament #{@gladiator.title} starts at: #{@gladiator.start_date.strftime('%d-%b-%Y  | %H:%Mч.')} (admin: #{@gladiator.admin.email})" %>
    </h5>

    <%- if admin_signed_in? %>
      <%= link_to 'Edit', edit_gladiator_path(@gladiator), class: 'btn btn-primary' %>
    <% end %>

    <p>
    <strong>Description:</strong>
    <%= @gladiator.info %>
    </p>

  </div>

  <div class='tour-enrollment text-center'>
    <hr>
    <div class="table">
      <h3>
        <caption><%="Players enrolled: #{@gladiator.players.count}" %></caption>
      </h3>
      <%= form_for @gladiator do |f| %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Player:</th>
              <th>Enrolled?</th>
            </tr>
          </thead>
          <tbody>
            <%- if admin_signed_in? %>
              <%= f.collection_check_boxes :player_ids, @players, :id, :name, custom: :switch  do |b| %>
                <tr>
                  <td><%= b.label %></td>
                  <td><%= b.check_box %></td>
                </tr>
              <% end %>
            <% end %>
            <%- unless admin_signed_in? %>
              <% @gladiator.players.each do |player| %>
                <tr>
                  <td><%= player.name %></td>
                  <td>Enrolled</td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%- if admin_signed_in? %>
          <div class="form-actions">
            <%= f.submit %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
