<div class="navbar">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About Us', about_path %>
  <div class="dropdown">
    <button class="dropbtn">Events
      <!-- An Icon for the dropdown -->
    </button>
    <div class="dropdown-content">
      <%= link_to 'Monthly Tournament', tour_path %>
      <%= link_to 'Gladiator', gladiator_path %>
      <%= link_to 'Ranklist', ranklist_path %>
    </div>
  </div>

  <div class="topnav-right">
  </div>

  <%= link_to 'Admin', admin_path %>
</div>
