<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 d-flex justify-content-between">
                    <!-- Logo Area -->
                    <div class="logo">
                        <!-- <a href="index.html"><img src="img/core&#45;img/logo.png" alt=""></a> -->
                    </div>

                    <!-- Top Contact Info -->
                    <div class="top-contact-info d-flex align-items-center">
                        <a href="https://bratac.net" target='_blank' data-toggle="tooltip" data-placement="bottom" title="Уеб Дизайн, изработка и код от BraTac.net"><span>Уеб Дизайн, изработка и код от BraTac.net</span></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="office@yourfirm.com"><img src="img/core-img/message.png" alt=""> <span>office@yourfirm.com</span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="credit-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                 <nav class="classy-navbar justify-content-between" id="creditNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>

                                <li>  <%= link_to 'Начало', root_path %>  </li>

                                <li>  <%= link_to 'Лига "Гладиатори"', gladiators_path %>  </li>
                                <li>  <%= link_to 'Месечен Турнир', gladiators_path %>  </li>
                                <li>  <%= link_to 'Класиране', gladiators_path %>  </li>
                                <% if admin_signed_in? %>
                                  <li>  <%= link_to 'Players', players_path %></li>
                                  <% end %>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                                        <!-- Contact -->
                    <div class="contact">
                        <a href="#"><img src="img/call2.png" alt=""> +359 886 460 005</a>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>


    <div class="nav-mob">

      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top"> -->
      <nav class="navbar navbar-expand-md navbar-light bg-info fixed-top font-navbar">
    <a class="navbar-brand text"><%= link_to 'TennisBurgas.com', root_path %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">

    </li>


    <div class="dropdown-divider"></div>
    <li class="nav-item font-nav-link">
    <a class="nav-link"><%= link_to 'Лига "Гладиатори"', gladiators_path %></a>
    </li>
    <div class="dropdown-divider"></div>
    <li class="nav-item font-nav-link">
    <a class="nav-link"><%= link_to 'Месечен Турнир', gladiators_path %></a>
    </li>
    <div class="dropdown-divider"></div>
    <li class="nav-item font-nav-link">
    <a class="nav-link"><%= link_to 'Класиране', gladiators_path %></a>
    </li>
    <div class="dropdown-divider"></div>
    <% if admin_signed_in? %>
      <li class="nav-item font-nav-link">
        <%= link_to 'Players', players_path %>
      </li>

      <% end %>


    </ul>
    </div>

    </nav>

    </div>
