<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 d-flex justify-content-between">
                    <!-- Logo Area -->
                    <div class="logo">
                        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                    </div>

                    <!-- Top Contact Info -->
                    <div class="top-contact-info d-flex align-items-center">
                        <a href="https://bratac.net" target='_blank' data-toggle="tooltip" data-placement="bottom" title="Уеб Дизайн, изработка и код от BraTac.net"><img src="img/core-img/placeholder.png" alt=""> <span>Уеб Дизайн, изработка и код от BraTac.net</span></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="office@yourfirm.com"><img src="img/core-img/message.png" alt=""> <span>office@yourfirm.com</span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="credit-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                 <nav class="classy-navbar justify-content-between" id="creditNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>

                                <li>  <%= link_to 'Начало', root_path %>  </li>
                                <li>  <%= link_to 'Повече за нас', about_path %>  </li>
                                <li>  <%= link_to 'Лига "Гладиатори"', gladiators_path %>  </li>
                                <li>  <%= link_to 'Месечен Турнир', gladiators_path %>  </li>
                                <li>  <%= link_to 'Класиране', gladiators_path %>  </li>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                                        <!-- Contact -->
                    <div class="contact">
                        <a href="#"><img src="img/core-img/call2.png" alt=""> +359 886 460 005</a>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>


<div class="nav-mob">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Център за тенис на маса</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link"> <%= link_to 'Начална Страница', root_path %><span class="sr-only"></span></a>
</li>
<div class="dropdown-divider"></div>
<li class="nav-item">
<a class="nav-link"><%= link_to 'Повече за нас', about_path %></a>
</li>
<div class="dropdown-divider"></div>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Събития
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="#"><%= link_to 'Лига "Гладиатори"', gladiators_path %></a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#"><%= link_to 'Месечен Турнир', gladiators_path %></a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#"><%= link_to 'Класиране"', gladiators_path %></a>
</div>
</li>

</form>
</div>
</nav>

</div>
