<div class="navbar">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About Us', about_path %>
  <div class="dropdown">
    <button class="dropbtn">Events
      <!-- An Icon for the dropdown -->
    </button>
    <div class="dropdown-content">
      <%= link_to 'Monthly Tournament', competitions_path %>
      <%= link_to 'Gladiator', gladiator_path %>
      <%= link_to 'Ranklist', ranklist_path %>
    </div>
  </div>

  <div class="topnav-right">

    <% if current_admin  %>

    <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>

    <% else %>


    <%= link_to 'Sign In', new_admin_session_path %>

    <% end %>



  </div>
</div>
