<!DOCTYPE html>
<html>
  <head>
    <title>Център за Тенис на Маса гр. Бургас</title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.ico"/>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/cookies' %>
    </body>
</html>
