<!DOCTYPE html>
<html>
  <head>
    <title>Tennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <scriptsrc="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%# <%= render 'layouts/alerts' %>
    <%= yield %>
    <%# <%= render 'layouts/footer' %>
    </body>
</html>
